.wrapper {
    display: flex;
    justify-content: center;
}

form label {
    font-weight: bold;
    color: var(--ci-dark);
}

#description {
    word-wrap: break-word;
    white-space: pre-line;
    height: 120px;
}
#plus-icon{
    width:30px;
    height: 30px;
    object-fit: contain;
}
#assigned-to-list {
    min-width: max-content!important;
    /* min-height: max-content!important; */
    line-height:40px;
}

#assigned-to-list li:hover {
    cursor: pointer;
    background-color: var(--ci-light);

}

.ci-button-dark {
    border-radius: 10px !important;
    font-weight: bold !important;
    color: white;
    background-color: var(--ci-dark);
}

.ci-button-transparent {
    font-weight: bold !important;
    color: var(--ci-dark);
    background-color: transparent;
}

.ci-border-dark {
    border: 2px solid var(--ci-dark);
}

#success {
    z-index: 10;
    border-radius: 10px !important;
    right: 1.5em;
    bottom: 1.5em;
    background-color: white;
    box-shadow: 2px 2px 3px 1px var(--ci-dark);
}