form label {
    font-weight: bold;
    color: var(--ci-dark);
}

.col-left, .col-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#description {
    word-wrap: break-word;
    white-space: pre-line;
    flex: 1;
}

#plus-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

#assigned-to-list {
    min-width: max-content;
    line-height: 44px;
}

#assigned-to-list li:hover {
    cursor: pointer;
    background-color: var(--ci-light);
}


#success {
    z-index: 10;
    border-radius: 10px !important;
    right: 1em;
    bottom: 1em;
    background-color: white;
}

@media (max-width:575px) {
    .form-row {
        flex-direction: column;
    }

    .col-left, .col-right {
        width: 100%;
    }

    .button-row {
        justify-content: center !important;
    }

}