.wrapper {
    display: flex;
    justify-content: center;
}

form label {
    font-weight: bold;
    color: var(--ci-dark);
}

.col-left, .col-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#description {
    word-wrap: break-word;
    white-space: pre-line;
    flex: 1;
}

#plus-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

#assigned-to-list {
    min-width: max-content;
    line-height: 44px;
}

#assigned-to-list li:hover {
    cursor: pointer;
    background-color: var(--ci-light);
}

.dropdown-item.disabled {
    color: inherit;
}

.ci-button-dark {
    border-radius: 10px !important;
    font-weight: bold !important;
    color: white;
    background-color: var(--ci-dark);
}

.ci-button-transparent {
    font-weight: bold !important;
    color: var(--ci-dark);
    background-color: transparent;
}

.ci-button-transparent:hover {  
    background-color: white;
}

.ci-border-dark {
    border: 2px solid var(--ci-dark);
}

#success {
    z-index: 10;
    border-radius: 10px !important;
    right: 1.5em;
    bottom: 1.5em;
    background-color: white;
    box-shadow: 2px 2px 3px 1px var(--ci-dark);
}

@media (max-width:500px) {
    .form-row {
        flex-direction: column;
    }

    .col-left, .col-right {
        width: 100%;
    }

    .button-row {
        justify-content: center !important;
    }

}