.archive-card {
    min-height: 100px;
}

.archive-header {
    background-color: unset;
    border: unset;
}

.card span, .card div {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.trashbin {
    filter: invert(0.5);
    height: 44px;
    object-fit: contain;
}

.date {
    width: 12%;
    min-width: 130px;
}

.category {
    width: 15%;
    min-width: 120px;
}

.title {
    flex: 1;
    min-width: 110px;
}

.description {
    flex: 1;
    min-width: 110px;
}

.assignedTo {
    width: 25%;
    min-width: 130px;
}

@media(max-width:992px) {
    .archive-card {
        width: 45%;
        min-width: 200px;

    }

    .date, .status, .category, .title, .description, .assignedTo {
        width: 100%;
        flex: 0;
    }
}

@media(max-width:576px) {
    .archive-card {
        width: 100%;
    }
}