.archive-card {
    min-height: 100px;
}

.archive-header {
    background-color: unset;
    border: unset;
}

.card span, .card div {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.date {
    width: 12%;
    min-width: 130px;
}

.category {
    width: 15%;
    min-width: 120px;
}

.title {
    flex: 1;
    min-width: 110px;
}

.description {
    flex: 1;
    min-width: 110px;
    word-wrap: break-word;
}

.assignedTo {
    width: 25%;
    min-width: 130px;
}

@media(max-width:990px) {
    .archive-card {
        width: 48%;
        max-width: 48%;
        min-width: 230px;

    }

    .date, .category, .title, .description, .assignedTo {
        width: 100%;
        flex: 0;
    }
}

@media(max-width:576px) {
    .archive-card {
        width: 100%;
        max-width: unset;
        min-width: unset;
    }
}