body {
    font-family: 'PT Sans', sans-serif;
}

.backlog-content {
    margin-top: 64px;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-body {
    height: 300px;
    width: 80vw;
}