body {
    font-family: 'PT Sans', sans-serif;
}

.backlog-content {
    height: 80vh;
    display: flex;
}

.card-content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
}

.card-header {
    display: flex;
    justify-content: space-between !important;
}

.card-body {
    height: 60vh;
    width: 80vw;
}