body {
    font-family: 'PT Sans', sans-serif;
}

p {
    margin: 0;
}

.backlog-content {
    height: 80vh;
    display: flex;
}

.card-content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: flex-start !important;
    margin-bottom: 12px;
}

.card-header {
    display: flex;
    justify-content: space-between !important;
}

.card-body {
    height: 60vh;
    width: 80vw;
}

.cardInBacklog {
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    height: 110px;
    gap: 48px;
}

.staff-container {
    display: flex;
    align-items: center;
    width: 400px;
}

/* .date{
    margin-right: 32px;
} */

.category {
    width: 90px;

}

/* .title {
    margin-right: 32px;
} */

.userAndMail {
    display: flex;
    flex-direction: column;
    margin-right: 18px;
}

.staff-icons-backlog {
    display: flex;
    justify-content: flex-start;
}

.staff-icon {
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trashbin {
    filter: brightness(0.5);
    position: absolute;
    right: 5px;
    height: 24px;
    cursor: pointer;
}