/* .body {
    display: flex;
    justify-content: space-between;
} */

.main-content {
    display: flex;
}


.categories {
    margin-top: 22px;
    overflow-y: auto;
}


.status-wrap {
    display: flex;
    justify-content: center;
}

.board-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header {
    display: flex;
    justify-content: center;
    background-color: var(--ci-medium) !important;
}

.card-body {
    width: 290px;
    min-height: 400px;
    max-height: 650px;
    overflow-y: auto;
}

.card-margin {
    margin: 5px;
}

.task:hover {
    transform: scale(1.01);
    transition: 125ms ease-in-out;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

/* 
.trashbin {
    filter: brightness(0.5);
    height: 40px;
    cursor: pointer;
} */

.dropdown-menu {z-index: 1000;}
@media (max-width: 1440px) {
    .status-wrap {
        display: flex;
        flex-wrap: wrap;

    }

    /* .board-content {
        flex-direction: column;
    } */


    .card-body {
        max-height: 300px;
    }
}


@media(max-width:768px) {
    /* .board-content {
        height: 90vh;
    } */

}


@media (max-width: 660px) {
    .status-wrap {
        display: block;
    }


    .card-body {
        min-height: 0px;
    }

    .categories {
        margin-right: 0;
    }


    /* .card-body {
        min-height: 100px;
    } */


    /* .body {
        height: 80vh;
    } */
}

@media (max-width: 340px) {
    .card-body {
        width: 94vw;

    }

    .card-margin {
        margin: 0;
    }

    .trashbin {
        height: 30px;
    }

}

@media (max-width: 200px) {
    .icons-responsive {
        flex-direction: column;
    }
}