/* .body {
    display: flex;
    justify-content: space-between;
} */

.main-content {
    display: flex;
    height: 100vh;
    width: 100vw;
}


/* .categories {
    margin-right: 16px;
} */


.status-wrap {
    display: flex;
    justify-content: center;
}

.board-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header {
    display: flex;
    justify-content: center;
    background-color: var(--ci-medium) !important;
}

.card-body {
    /* min-height: 500px; */
    width: 290px;
}

.task:hover {
    transform: scale(1.03);
    transition: 125ms ease-in-out;
    cursor: pointer;
}

.trashbin {
    filter: brightness(0.5);
    height: 44px;
    cursor: pointer;
}


@media (max-width: 1440px) {
    .status-wrap{
    display: flex;
    flex-wrap: wrap;

    }
    /* .board-content {
        flex-direction: column;
    } */


    /* .card-body {
        min-height: 290px;
    } */
}


@media(max-width:768px) {
    .board-content {
        height: 90vh;
    }

}


@media (max-width: 660px) {
    .status-wrap {
        display: block;
    }

    .categories {
        margin-right: 0;
    }


    /* .card-body {
        min-height: 100px;
    } */


    .body {
        height: 80vh;
    }
}

/* @media (max-width: 340px) {
    .card-body {
        width: 99vw;

    }

} */