.main-content {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
gap: 32px;
}

.card-header {
    display: flex;
    justify-content: center;
}

.card-body {
    height: 600px;
}