
#menubar {
    height: 100%;
    min-height: 100vh;
    transition: all 500ms;
}

#menu {
    width: var(--menu-width);
    height: 100vh;
}

.nav-link {
    font-size: 20px;
    padding-left: 1.5em !important;
    border-left: 5px transparent solid;
}

.nav-link.active {
    border-left: 5px white solid;
}

@media (max-width:768px) {
    #menubar {
        z-index: 2000;
        left: var(--menu-width-neg);
    }
}

@media (min-width:768px) {
    #menubar {
        z-index: 2000;
        left: 0!important;
    }
}