body {
    background-color: rgb(216, 216, 216);
}

.menu-tabs {
    cursor: pointer;
    font-size: 24px;
    color: rgb(216, 216, 216);
    font-weight: 500;

}

.menu-logged-out {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: rgb(37, 110, 110);
}

.menu-logged-out img {
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 60px;
}

.menu-logged-out a {
    margin: 18px;
    text-decoration: none;
}

.menu-logged-in {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: rgb(37, 110, 110);
}

.menu-logged-in img {
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 60px;
}

.menu-logged-in a {
    margin: 18px;
    text-decoration: none;
}

.profile-pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}