:root {
    --ci-light: #F4F3FB;
    --ci-dark: #1E3190;
    --menu-width: 160px;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: #fdfdff;
}

h1 {
    font-weight: bold;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.form-control:focus {
    border-color: unset;
    box-shadow: unset;
}

.pointer {
    cursor: pointer;
}

.bg-ci-light {
    background-color: var(--ci-light);
}

.bg-ci-dark {
    background-color: var(--ci-dark);
    color: white;
}

.text-dark {
    color: var(--ci-dark);
}

.staff-icon {
    border-radius: 50%;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.staff-icon img {
    object-fit: contain;
    height: 30px;
    width: 30px;
}


.icon-margin {
    margin-right: 5px;
}

@media(min-width:768px) {
    .wrapper {
        padding-left: var(--menu-width) !important;
    }

}