.trash-card {
    min-height: 100px;
}

.trash-header {
    background-color: unset;
    border:unset;
}

.card span, .card div {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.trashbin {
    filter: invert(0.5);
    height: 44px;
    object-fit: contain;
}

.date {
    width: 15%;
}

.status {
    width: 15%
}

.category {
    width: 15%
}

.title {
    width: 25%
}

.description {
    width: 25%
}

.assignedTo {
    width: 15%
}